/************************************************** 1. GLOBAL ***************************************************/

/* Variables
 ===============================================*/

/* Source Sans Pro Regular */
 @font-face {
    font-family: "SourceSansPro";
    src: url("./Fonts/SourceSansPro-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Source Sans Pro SemiBold */
@font-face {
    font-family: "SourceSansPro";
    src: url("./Fonts/SourceSansPro-Semibold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* Source Sans Pro Bold */
 @font-face {
    font-family: "SourceSansPro";
    src: url("./Fonts/SourceSansPro-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


 :root {
    --color-white: #FFFFFF;
    --color-hover: #FF6565;


    --font-main: SourceSansPro;
    --font-weight-regular: 400;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    --line-height : 1.5rem;

  /** Header **/

    --header-padding: 0rem, 0, 0;

  /** Navbar **/

    --navbar-height: 200px;

 }


/************************************************** 2. LAYOUT ***************************************************/

 body {
    margin-inline-start: 0;
    margin-inline-end: 0;
 }

 .container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    text-align: center;
}

 .Button {
    background-color: var(--color-hover);
    color: var(--color-white);
    border: none;
    padding: 0.75rem;
    width: 10rem;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-size: 14px;
    font-family: var(--font-main);
    font-weight: var(--font-weight-bold);
}

 .Description {
    font-size: 16px;
    font-family: var(--font-main);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height);
 }


/**************************************************** HEADER ****************************************************/


 .header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

 .header-logo {
    margin: auto;
}

 @media (min-width: 481px) {
    .header-container {
        flex-wrap: nowrap;
        margin: 0 auto;
        padding: 0 3rem;
        justify-content: space-between;
        align-content: center;
    }

    .header-logo {
        margin: 0;
    }
}

/******************** Navbar ********************/

 .header .nav {
    list-style: none;
    flex-direction: column;
    overflow: hidden;
    max-height: 0;
    padding: 0;
    margin: 0;
    transition: max-height 0.2s ease-out ;
    -webkit-transition: max-height 0.2s ease-out ;
    -moz-transition: max-height 0.2s ease-out ;
    -ms-transition: max-height 0.2s ease-out ;
    -o-transition: max-height 0.2s ease-out ;
}

 .nav-link {
    color: var(--color-white);
    text-decoration: none;
}

 .navbar-menu {
    display: none;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    order: 1;
}

 .navbar-menu .nav {
    font-size: 16px;
    font-family: var(--font-main);
    font-weight: var(--font-weight-regular);
}

 .navbar-menu .nav .nav-item {
    margin-bottom: 2rem;
}

 @media (min-width: 481px) {
    .navbar-menu {
        display: flex;
        width: auto;
    }

    .header .nav {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        max-height: none;
        overflow: visible;
    }

    .navbar-menu .nav .nav-item {
    margin-bottom: 1rem;
    }

 }

/******************** Bouton Menu ********************/


 .header .menu-btn {
    display: none;
 }

 .header .menu-icon {
    cursor: pointer;
    position: relative;
    user-select: none;
    padding: 1rem 1rem;
 }

 .header .menu-icon .navicon { /* Barre centrale */
    background-color: var(--color-white);
    display: block;
    position: absolute;
    width: 1rem;
    height: 0.15rem;
    transition: background 0.2s ease-out;
    -webkit-transition: background 0.2s ease-out;
    -moz-transition: background 0.2s ease-out;
    -ms-transition: background 0.2s ease-out;
    -o-transition: background 0.2s ease-out;
}

 .header .menu-icon .navicon::before,
 .header .menu-icon .navicon::after {
    content: "";
    display: block;
    width: 150%;
    height: 100%;
    position: absolute;
    background: var(--color-white);
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
}

 .header .menu-icon .navicon::before { /* Barre du haut */
    top: 0.5rem;
 }

 .header .menu-icon .navicon::after { /* Barre du bas */
    top: -0.5rem;
 }

 .menu-btn:checked ~ .navbar-menu {
    display: block;
 }

 .menu-btn:checked ~ .navbar-menu .nav {
    max-height: 100%;
    overflow: inherit;
 }

 .header .menu-btn:checked + .menu-icon .navicon {
    background: transparent;
  }

 .header .menu-btn:checked + .menu-icon .navicon::before {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

 .header .menu-btn:checked + .menu-icon .navicon::after {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

 .header .menu-btn:checked + .menu-icon .navicon::before,
 .header .menu-btn:checked + .menu-icon .navicon::after {
    top: 0;
  }

 @media (min-width: 481px) {
    .header .menu-icon {
        display: none;
    }
 }

/************************************************** 3. SECTION **************************************************/

  /* Section Hero */

 .Section-Hero {
    position: relative;
  }

 .Hero-Background {
    position: relative;
 }

 .Hero-Background::before {
    content: "";
    position: absolute;
    left: 0;
    top: -3rem;
    background-image: url(Images/headphones_hero_1.jpg);
    background-repeat: no-repeat;
    background-position: calc(50% + 4rem) top;
    background-size: cover;
    z-index: -1;
    width: 100%;
    height: calc(100% + 3rem);
    transition: none ;
    -webkit-transition: none ;
    -moz-transition: none ;
    -ms-transition: none ;
    -o-transition: none ;
}

body:has(.menu-btn:checked) .Hero-Background::before {
    transform: translateY(-11rem);
    -webkit-transform: translateY(-11rem);
    -moz-transform: translateY(-11rem);
    -ms-transform: translateY(-11rem);
    -o-transform: translateY(-11rem);
    height: calc(100% + 14rem);
}

 .Hero-container {
    text-align: center;
    color: var(--color-white);
  }

 .Hero-container .Section-Title {
    margin-top: 14rem;
    font-size: 32px;
    max-width: 90%;
    align-self: center;
    justify-self: center;
    font-family: var(--font-main);
    font-weight: var(--font-weight-bold);
 }

 .Hero-container .subtitle {
    font-size: 16px;
    font-family: var(--font-main);
    font-weight: var(--font-weight-semibold);
    max-width: 70%;
    align-self: center;
    justify-self: center;
    margin-top: -1rem;
 }

 .Hero-container .Description {
    margin-top: 4rem;
    margin-bottom: 5rem;
    max-width: 90%;
    align-self: center;
    justify-self: center;
 }

 @media (min-width: 481px) {
    .Hero-Background::before {
        top: -4rem;
        background-position: calc(50%) top;
    }

    .Hero-container .Section-Title {
        margin-top: 15rem;
    }

    .Hero-container .Button {
        margin-top: 1rem;
    }

    .Hero-container .Description {
        max-width: 85%;
        margin-top: 5rem;
        margin-bottom: 8rem;
    }
 }

 @media (min-width: 993px) {
    .Hero-container .Section-Title {
        margin-top: 18.5rem;
    }

    .Hero-container .Button {
        margin-top: 2rem;
    }

    .Hero-container .Description {
        max-width: 65%;
        margin-top: 5rem;
        margin-bottom: 8rem;
    }
 }

  /* Section What we do */

 .What-we-do-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
 }

 .What-we-do-container .Section-Title {
    font-size: 32px;
    font-family: var(--font-main);
    font-weight: var(--font-weight-semibold);
 }

 .What-we-do-container .Description {
    max-width: 85%;
 }

 .What-we-do-icon {
    color: var(--color-hover);
    font-size: 10rem;
 }

 .What-we-do-img {
   margin-bottom: 6rem;
 }

 .What-we-do-img div {
    margin-top: 5rem;
 }

 .What-we-do-img .img-title {
    margin-top: 0.5rem;
    font-family: var(--font-main);
    font-weight: var(--font-weight-semibold);
    font-size: 18px;
 }

 .What-we-do-img .img-description {
    display: flex;
    align-self: center;
    justify-self: center;
    max-width: 50%;
    font-family: var(--font-main);
    font-weight: var(--font-weight-regular);
    font-size: 14px;
    line-height: var(--line-height);
 }

 @media (min-width: 481px) {
    .What-we-do-icon {
    color: var(--color-hover);
    font-size: 7rem;
    }

    .What-we-do-img {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .What-we-do-img {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .What-we-do-img > div {
        max-width: 50%;
    }

    .What-we-do-img .img-description {
      max-width: 65%;
    }


 }

 @media (min-width: 993px) {

    .What-we-do-img {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
    }

    .What-we-do-img .img-description {
      max-width: 75%;
    }
 }
